* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 400px;
  width: 600px;
  background-color: rgb(127, 118, 120);
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container img {
  width: 300px;
  height: 300px;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}